DB_USERNAME=your-database-username
DB_PASSWORD=your-database-password
JWT_SECRET=your-jwt-secret
KAKAO_CLIENT_ID=your-kakao-client-id
KAKAO_CLIENT_SECRET=your-kakao-client-secret
REDIS_PASSWORD=your-redis-password
